@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Slide in from the right */
.slide-next-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-next-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.slide-next-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-next-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}



/* Slide in from the left */
.slide-prev-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-prev-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.slide-prev-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-prev-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

/* globals.css */
@font-face {
  font-family: 'Helvetica';
  src: url('../public/font/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'CASCADIACODEISELITE';
  src: url('../public/font/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.modal-show {
  animation: fadeIn 0.5s ease-out forwards;
}

.hidden {
  display: none !important;
}

.animated-hi-there-container {
  font-family: monospace;
  /* Use a code font */
  font-size: 1.5rem;
  /* Adjust font size as needed */
}

.animated-hi-there-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: revealText 3s linear forwards;
  /* Animation duration: 3 seconds */
}

@keyframes revealText {
  0% {
    width: 0;
  }

  100% {
    width: auto;
  }
}


body {
  font-family: 'Helvetica', sans-serif;
  background-image: url('../public/img/bg.jpg');
  background-blend-mode: overlay;
  color: rgb(var(--foreground-rgb));
  background-size: cover;
  /* Stretch and cover the entire page */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Prevent repeating the background image */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}